head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')

div(style="height:52px;")
div.header
	div.title_button(style="", onClick="window.location.href='/'")
		| #{title}

	div(style="float:left; position:fixed; left:160px; top:9px;")
		<form action = "/query" method = "get" id = "search_box">
		<input type = "text" class = "input_text" id = "search" name = "q" placeholder = "search" style = "background-color:#616158; float:left; color:#bababa; margin-bottom:5px; height:14px;" />
		<button type = "submit" class = "search_btn" value = "Submit" style="background-color:#616158; 	border-radius:6px; ">
		<img src = '/images/Search-icon.png' title = "search" style="max-height:18px; max-width:18px;" />
		</button>
		</form>

	- if (global.session.logged_in != 0)
		div.userinfo_settings(onClick="show_drop_settings();", id="header_button_settings")
			| Hello #{global.session.user.id}
		div.userinfo_button(onClick="show_drop_recipes()")
			| Recipes
		div.userinfo_button(onClick="show_drop_wikis()")
			| Wiki
	else
		div.userinfo_button(onClick="show_drop_login();", id="header_button_login")
			| Login
		div.userinfo_button(onClick="window.location.href='/sign_up'")
			| Sign Up!
		div.userinfo_button(onClick="show_drop_wikis()")
			| Wiki

//- Start drop down boxes

- if (global.session.logged_in != 0)
	div(style="position:fixed; left:-110px; top:100px; background-color:#292929; border-radius:.4em; z-index:8;")
		div(onClick="show_drop_notifications()", id="notifications_button", title="Your notifications.", style="border:1px solid #bababa; padding:8px; margin:1px; padding-left:14px; padding-right:12px; border-radius:.4em; cursor:pointer; color:#bababa;")
			span(id="notifications_title", style="margin-right:14px;")
				| Notifications
			span(id="notifications_count")
				| #{global.session.notifications.actual_count}

div.header_dropdown(id="header_menu_login", style="position:fixed; top:-1000px; right:10px; width:auto;")
	form(style="margin:0px; padding:0px;", method='post', action='/login', id='header_login_form')
		div(style="float:left; clear:both;")
			| Username
		input.input_text(type="text", name="username", id="header_login_username", style="background-color:#616158; color:white; margin-bottom:5px; margin-right:5px; clear:both; float:left;", required="required")
		div(style="float:left; clear:both;")
			| Password
		input.input_text(type="password", name="password", id="header_login_password", style="background-color:#616158; color:white; margin-bottom:5px; clear:both; float:left;", required="required")
		//- location argument allows us to return to the page we were on when we tried to logon.
		input(id="header_menu_login_location", type="hidden", name="location")
		
		button.button2(style="float:right; clear:both;", onClick="submit_drop_login();")
			| Login
		button.button2(style="float:left;", onClick="hide_drop_login();")
			| Cancel

div.header_dropdown(id="header_menu_settings", style="position:fixed; top:-1000px; right:10px; width:auto;")
	- if (global.session.logged_in)
		div.header_dropdown_button
			div.header_dropdown_button_icon
				img(src="../images/icon_gear1.png", style="position:relative; left:-3px; top:-3px;")
			a(href="/user/profile?u=#{global.session.user.id}", style="text-decoration:none; color:#bababa;")
				| My Account
	div.header_dropdown_button(id="header_settings_logout", onClick="$('#logout_form').submit();", title="Click here to logout.")
		div.header_dropdown_button_icon
			img(src="../images/icon_exit1.png", style="position:relative; left:-2px; top:-2px; width:22px;")
		form(id="logout_form", style="margin:0px; padding:0px;", method="post", action="/")
			input(id="logout_form_location", type="hidden", name="location")
			input(type="hidden", name="logout", value="1")
		| Log Out

div.header_dropdown(id="header_menu_recipes", style="position:fixed; top:-1000px; right:10px; width:auto;")
	div.header_dropdown_button
		div.header_dropdown_button_icon
			img(src="../images/icon_home.png", style="position:relative; left:-2px; top:-2px; width:22px;")
		a(href="/recipe/home", style="text-decoration:none; color:#bababa;")
			| Recipe Home
	div.header_dropdown_button
		div.header_dropdown_button_icon
			img(src="../images/icon_new1.png", style="position:relative; left:-2px; top:-2px; width:22px;")
		a(href="/recipe/create", style="text-decoration:none; color:#bababa;")
			| New Recipe
	div.header_dropdown_button
		div.header_dropdown_button_icon
			img(src="../images/icon_recipe1.png", style="position:relative; left:-2px; top:-2px; width:22px;")
		a(href="/recipe/my", style="text-decoration:none; color:#bababa;")
			| My Recipes
	div.header_dropdown_button
		div.header_dropdown_button_icon
			img(src="../images/icon_recipe3.png", style="position:relative; left:-2px; top:-1px; width:22px; height:20px;")
		a(href="", style="text-decoration:none; color:#bababa;")
			| Followed Recipes
	div.header_dropdown_button
		div.header_dropdown_button_icon
			img(src="../images/icon_book1.png", style="position:relative; left:-2px; top:-1px; width:22px; height:20px;")
		a(href="", style="text-decoration:none; color:#bababa;")
			| Lookup Recipes

div.header_dropdown(id="header_menu_wikis", style="position:fixed; top:-1000px; right:150px; width:auto;")
	div.header_dropdown_button
		div.header_dropdown_button_icon
			img(src="../images/icon_home.png", style="position:relative; left:-3px; top:-3px;")
		a(href="/wiki/home", style="text-decoration:none; color:#bababa;")
			| Wiki Home
	- if (global.session.logged_in)
		div.header_dropdown_button
			div.header_dropdown_button_icon
				img(src="../images/icon_new1.png", style="position:relative; left:-3px; top:-3px;")
			a(href="/wiki/create", style="text-decoration:none; color:#bababa;")
				| Create New Wiki

div.header_dropdown(id="header_menu_notifications", style="position:fixed; top:-1000px; left:2px; width:auto; font-size:14px; min-width:260px; z-index:9;")
	- if (global.session.logged_in)
	//- The rest of the drawing happens clientside (footer.jade)
		div.header_dropdown_button(style="cursor:default;")
			div.header_dropdown_button_icon
				img(src="../images/icon_alert1.png", style="position:relative; left:-2px; top:-2px; width:22px;")
			div(style="width:180px;")
				| No new notifications.

body.body