doctype 5
html.all(style="background-image:url('../images/bg1.png');")
	
	include ../header

	div.all(style="max-width:1000px; margin:auto;")
		- if (results.length == 0)
			div(style="overflow:hidden; font-size:16px; height:auto; padding:10px; border:1px solid #c2c2c2; margin-bottom:10px; background-color:#EEEEFF; overflow:auto;")
				p Sorry no pages were found.  Please try your search again.
		- else
			- for(var i in results)
				div(style="overflow:hidden; font-size:16px; height:auto; padding:10px; border:1px solid #c2c2c2; margin-bottom:10px; background-color:#EEEEFF; overflow:auto;")
				
					div(style="font-size:20px; background-color:#EEEEFF; width:auto; padding:2px;")
						- if (type == 'w')
							<a href="wiki/view?w_id=#{results[i].id}"> #{results[i].title} </a>
						- if (type == 'r')
							<a href="recipe/view?r_id=#{results[i].id}"> #{results[i].title} </a>

					- if(results[i].picture.id != 1)
						div(style="float:right; position:relative; top: -4px; height: 138px; width: 138px; margin-bottom:-14px; margin-left:8px;")
							img(src= "/images/user_images/#{results[i].picture.location}", style= "max-width:100%;")

					div(style="padding-left:10px;")
						- for content in results[i].description.split('\n')
							div(style="margin-top:6px; min-height:19px;")
								p!= content


	include ../footer