doctype 5
html.all(style="background-image:url('/images/bg1.png');")

	include ../header

	div.all(style="max-width:1000px; margin:auto;")
		div(style="margin-bottom:10px;")
			div(style="overflow:auto; position:relative; border:1px solid #c2c2c2; background-color:white;")
				h1(style="padding:10px; margin:0px; float:left; clear:both;")
					| #{wiki.title}
				- if (wiki.picture.id != 1)
					img(src="/images/user_images/#{wiki.picture.location}", title="#{wiki.picture.caption}", style="float:right; margin:4px; max-width:256px; max-height:256px;")

				div(style="float:left; clear:left; margin:8px; border:1px solid #c2c2c2; padding:4px;")
					span(style="float:left; clear:both;")
						| Content
					- for (var j in wiki.content)
						div(style="float:left; clear:both; margin:4px; margin-left:12px;")
							<a href="##{wiki.content[j].id}"> #{wiki.content[j].title} </a>
					- if (wiki.video.id != 1)
						div(style="float:left; clear:both; margin:4px; margin-left:12px;")
							<a href="#video"> Video </a>

		- if (wiki.content.length == 0)
			div(style="overflow:hidden; font-size:16px; height:auto; padding:10px; border:1px solid #c2c2c2; margin-bottom:10px; background-color:white; overflow:auto; color:gray;")
				| Wiki is empty.

		- for(var i in wiki.content)
			div(style="overflow:hidden; font-size:16px; height:auto; padding:10px; border:1px solid #c2c2c2; margin-bottom:10px; background-color:white; overflow:auto;")
				<a name="#{wiki.content[i].id}">

				div(style="font-size:20px; background-color:white; width:100px; padding:2px;")
					| #{wiki.content[i].title}

				- if(wiki.content[i].picture.id != 1)
					div(style="float:right; position:relative; top: -4px; height: 138px; width: 138px; margin-bottom:-14px; margin-left:8px;")
						img(src= "/images/user_images/#{wiki.content[i].picture.location}", style= "max-width:100%;")

				div(style="padding-left:10px;")
					- for content in wiki.content[i].content.split('\n')
						div(style="margin-top:6px; min-height:19px;")
							p!= content
		

		- if (wiki.video.id != 1)
			div
				<a name="video">
				<iframe width="560" height="315" src="#{wiki.video.address}?wmode=transparent" frameborder="0" 	allowfullscreen></iframe>
	
	include ../footer
