doctype 5
html.all(style="background-image:url('../images/bg1.png');")

	include ../header

	div.all(style="max-width:1000px; margin:auto;")
		div(style="padding-bottom:40px; background-color:white;")

			- if (recipe.public == '0')
				div(style="float:left; clear:both; height:128px; width:24px; position:relative; top:24px; left:-18px; margin-bottom:-140px; background-image:url('../images/private.png');")

			//- Image
			div(style="width:100%; height:180px; border:1px solid #d6d6d6; overflow:hidden;")
				img(src="../images/user_images/#{recipe.picture.location}", style="width:100%; position:relative; top:-64px;", alt="#{recipe.picture.caption}", title="#{recipe.picture.caption}")

			//- Recipe Category
			div(style="position:relative; right:10px; top:-182px; font-size:28px; float:right; clear:both; width:auto; height:auto; padding-left:16px; padding-right:16px; margin-bottom:-36px; background-color:white; border-bottom-left-radius:.6em; border-bottom-right-radius:.6em; opacity:.8; filter:alpha(opacity=80); cursor:default;", title="Category")
				| #{recipe.category}

			//- Recipe Name
			div(style="position:relative; left:10px; top:-182px; font-size:32px; float:left; clear:both; width:auto; height:auto; padding-left:16px; padding-right:16px; margin-bottom:-36px; background-color:white; border-bottom-left-radius:.6em; border-bottom-right-radius:.6em; opacity:.8; filter:alpha(opacity=80); cursor:default;")
				| #{recipe.name}

			//- Owner
			div(style="position:relative; left:10px; top:-26px; font-size:16px; float:left; clear:both; width:auto; height:auto; padding:4px; padding-left:16px; padding-right:16px; background-color:white; border-top-left-radius:.6em; border-top-right-radius:.6em; opacity:.8; filter:alpha(opacity=80); cursor:default;")
				- if (recipe.owner == global.session.user.id)
					| Owned by You
				- else
					| Owned by 
					b(style="cursor:pointer;")
						| #{recipe.owner}

		style(type="text/css")
			div.star_power{width:#{recipe.rank / 10 * 168}px; height:32px; background-color:#ffbf00;}
			div.star_outline{width:168px; height:32px; margin:auto; position:relative; top:-36px; margin-bottom:-32px; background-image:url('../images/star_hollow1.png'); cursor:pointer;}

		//- Rating
		div(style="width:168px; height:32px; margin:auto; position:relative; top:-36px; margin-bottom:-32px;")
			div.star_power
		div.star_outline(title="#{recipe.rank / 2}/5 stars (#{recipe.rank_count} ranks)")

		div(style="float:right; position:relative; top:-18px; right:10px; font-size:12px; color:gray;")
			| Created on #{recipe.date_added.toDateString()}

		// Ingredients
		div(style="font-size:16px; height:auto; padding:10px; border-top:1px dotted gray; background-color:white;")
			div(style="font-size:20px; float:right; clear:both;")
				| Serving Size
			div(style="font-size:18px; float:right; clear:both; padding-right:15px;")
				| #{recipe.serving_size}
			div(style="font-size:20px; float:right; clear:both;")
				| Prep Time
			div(style="font-size:18px; float:right; clear:both; padding-right:15px;")
				| #{recipe.prep_time}
			div(style="font-size:20px; background-color:white; width:100px; padding:2px;")
				| Ingredients
			table(style="margin-left:10px;")
				- for (var i = 0; i < (recipe.ingredients).length; i++)
					tr
						td(style="height:20px; padding-left:10px; padding-left:10px; padding-right:2px; margin:3px; text-align:right;")
							- if (recipe.ingredients[i].amount == .5)
								| 1/2
							- else if (recipe.ingredients[i].amount == .75)
								| 3/4
							- else if (recipe.ingredients[i].amount == .25)
								| 1/4
							- else if (recipe.ingredients[i].amount == .125)
								| 1/8
							- else if (recipe.ingredients[i].amount == .3333)
								| 1/3
							- else if (recipe.ingredients[i].amount == .6667)
								| 2/3
							- else
								| #{recipe.ingredients[i].amount} 
						td(style="padding-right:4px;")
							|  #{recipe.ingredients[i].unit_name}
							|  #{recipe.ingredients[i].name}

		//- Directions
		div(style="font-size:16px; height:auto; padding:10px; border-top:1px dotted gray; background-color:white;")
			div(style="font-size:20px; background-color:white; width:100px; padding:2px;")
				| Directions
			div(style="padding-left:10px;")
				| #{recipe.directions}

		style(type="text/css")
			div.comment{padding:5px; padding-left:10px; margin:15px; margin-bottom:20px; margin-top:40px; border:1px solid gray; border-radius:.6em; height:auto; background-image:url('../images/comment_bg1.png'); background-size:100% 100%;}
			div.new_cancel{position:relative; top:-18px; right:100px; width:60px; margin-left:auto; border:2px dotted white; border-radius:.6em; padding:2px; padding-left:8px; padding-right:8px; margin-bottom:-20px; background-color:#b03f3f; color:white; font-weight:bold; text-align:center;}
			div.new_cancel:hover{cursor:pointer; background-color:#b35b5b;}
			div.new_post{position:relative; top:-7px; right:15px; width:60px; margin-left:auto; border:2px dotted white; border-radius:.6em; padding:2px; padding-left:8px; padding-right:8px; margin-bottom:-16px; background-color:#00a200; color:white; font-weight:bold; text-align:center;}
			div.new_post:hover{cursor:pointer; background-color:#44bd44;}

		//- Comments
		div(style="font-size:16px; height:auto; padding:10px; border-top:1px dotted gray; border-bottom:1px dotted gray; background-color:white;")
			div(style="font-size:20px; background-color:white; width:100px; padding:2px;")
				| Comments

			div(style="background-image:url('../images/bg2.png'); padding:5px; padding-top:1px; padding-bottom:1px; border-radius:.6em;", id="comments")
				- for(var i = 0; i < recipe.flat_comments.length; i++)
					- comment = recipe.flat_comments[i];
					- if (recipe.owner == comment.owner)
						- comment_color = 'e9e8ff';
					- else
						- comment_color = 'ffffff';

					div.comment(style="margin-left:#{comment.indent * 50 + 15}px; background-color:##{comment_color};", id="comment#{comment.id}")

						//- User stuff
						div(style="position:relative; top:-25px; margin:-6px; margin-left:-10px; margin-bottom:-36px; padding:5px;")
							
							div(style="padding:5px; margin-right:10px; text-align:center; position:relative; left:-28px; top:-22px; margin-bottom:-24px; margin-right:-24px;")
								div(style="width:64px; height:64px; overflow:hidden;")
									img(style="width:100%;", src="../images/user_images/#{comment.picture.location}", alt="#{comment.picture.caption}", title="#{comment.picture.caption}")

						div(style="height:20px; margin-left:40px; margin-right:10px; position:relative; top:-20px; margin-bottom:-20px;")
							div(style="color:gray;")
								- if (comment.owner == global.session.user.id)
									| You 
								- else
									p(style="margin:0px; padding:0px; cursor:pointer;")
										| #{comment.owner} 

							div(style="font-size:12px; color:gray; float:right; position:relative; top:-16px;")
								| #{comment.date_added.toDateString()} at 
								- if (comment.date_added.getHours() > 12)
									| #{comment.date_added.getHours() - 12}
								- else
									| #{comment.date_added.getHours()}
								| :
								- if (comment.date_added.getMinutes() < 10)
									| 0
								| #{comment.date_added.getMinutes()}:
								- if (comment.date_added.getSeconds() < 10)
									| 0
								| #{comment.date_added.getSeconds()}
								- if (comment.date_added.getHours() > 12)
									|  pm
								- else
									|  am

						div(style="margin-right:5px; border:1px solid border-top:1px solid #dedede; border-radius:.2em; padding:4px; padding-top:10px; padding-left:5px; padding-right:5px;")
							| #{comment.content} 

						- if (global.session.user.id != comment.owner)
							div(style="background-image:url('../images/reply1.png'); width:59px; height:24px; margin-left:auto; cursor:pointer; position:relative; top:3px; margin-bottom:-20px; z-index:1;", title="Reply to #{comment.owner}'s comment.", id="reply#{comment.id}")

				// New comment box (hides on load)			
				- if (recipe.owner == global.session.user.id)
					- comment_color = 'e9e8ff';
				- else
					- comment_color = 'ffffff';
				div.comment(style="margin-left:15px; background-color:##{comment_color};", id="new_comment")

					//- User stuff
					div(style="padding:5px; margin-right:10px; text-align:center; position:relative; left:-28px; top:-22px; margin-bottom:-24px; margin-right:-24px;")
						div(style="width:64px; height:64px; overflow:hidden;")
							img(style="width:100%;", src="../images/user_images/#{global.session.user.picture.location}", alt="#{global.session.user.picture.caption}", title="#{global.session.user.picture.caption}")

					div(style="font-size:12px; color:gray; position:relative; left:46px; top:-50px; margin-bottom:-16px; width:260px;")

					div(style="color:gray; position:relative; top:-28px; left:46px; margin-bottom:-16px; width:200px;")
						| What will you say?

					div(style="margin-left:5px; margin-right:15px; border-top:1px solid #dedede; border-radius:.2em; padding:4px; padding-left:5px; padding-right:5px;")
						textarea.input_text(style="width:100%; max-width:100%;", type="text", name="new_comment", id="new_comment_text")

					div.new_post(id="new_comment_post", title="Click here to post your comment.")
						| Post

					div.new_cancel(id="new_comment_cancel", title="Click here to cancel your comment.")
						| Cancel

				// New reply box (hides on load)			
				- if (recipe.owner == global.session.user.id)
					- comment_color = 'e9e8ff';
				- else
					- comment_color = 'ffffff';
				div.comment(style="margin-left:15px; margin-top:-6px; background-color:##{comment_color};", id="new_reply")

					//- User stuff
					div(style="padding:5px; margin-right:10px; text-align:center; position:relative; left:-28px; top:-22px; margin-bottom:-24px; margin-right:-24px;")
						div(style="width:64px; height:64px; overflow:hidden;")
							img(style="width:100%;", src="../images/user_images/#{global.session.user.picture.location}", alt="#{global.session.user.picture.caption}", title="#{global.session.user.picture.caption}")

					div(style="font-size:12px; color:gray; position:relative; left:46px; top:-50px; margin-bottom:-16px; width:260px;")

					div(style="color:gray; position:relative; top:-28px; left:46px; margin-bottom:-16px; width:200px;")
						| What will you say?

					div(style="margin-left:5px; margin-right:15px; border-top:1px solid #dedede; border-radius:.2em; padding:4px; padding-left:5px; padding-right:5px;")
						textarea.input_text(style="width:100%; max-width:100%;", type="text", name="new_comment", id="new_comment_text")

					div.new_post(id="new_reply_post", title="Click here to post your reply.")
						| Post

					div.new_cancel(id="new_reply_cancel", title="Click here to cancel your reply.")
						| Cancel

		div(style="background-image:url('../images/comment1.png'); width:120px; height:26px; margin:auto; cursor:pointer; position:relative; top:-5px;", title="Comment on this recipe.", id="new_comment_button")

	script(src="../jquery.js")
	script
		$(document).ready(function()
		{
			$("#new_comment").hide();
			$("#new_reply").hide();
			$("#new_comment_button").click(function(){
				$("#new_comment_button").hide();
				$("#new_comment").slideDown();
				$("#new_comment_text").focus();
				$("[id^=reply]").slideUp();
				$("html, body").animate({ scrollTop: $(document).height() + $("#new_comment").position().top }, "slow");
 
			});
			$("#new_comment_cancel").click(function(){
				$("#new_comment").slideUp();
				$("#new_comment_button").show();
				$("[id^=reply]").slideDown();
			});
			$("[id^=reply]").click(function(){
				$("[id^=reply]").slideUp();
				$("#new_reply").insertAfter($(event.target).parent());
				var parent = $(event.target).parent();
				$("#new_reply").css('margin-left', parent.css('margin-left'));
				$("#new_reply").slideDown();
				$("#new_comment_button").hide();
			});
			$("#new_reply_cancel").click(function(){
				$("#new_reply").slideUp();
				$("[id^=reply]").slideDown();
				$("#new_comment_button").show();
			});
		});

	include ../footer